//MIXINS

@use '../styles/mixins';

//FONTS

@font-face 
{
    font-family: Poppins-Light;
    src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face 
{
    font-family: Montserrat-Medium;
    src: url(../public/fonts/Montserrat-Medium.ttf);
}

//STYLING

.aboutPage
{
    --h2-font-size: 5.625rem;
    --p-font-size: 1.25rem;

    display: flex;
    flex-direction: row;

    padding-top: 50px;

    max-width: 1800px;
    width: 95vw;

    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 6rem;
    
    section
    {
        max-height: 800px;
        overflow-y: clip;
    }

    .aboutSectionLeft
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 1100px;
        width: 100%;

        border-top: 1px solid rgba(0, 0, 0, 0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        div
        {
            width: 100%;

            &:first-child
            {
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            }
        }

        h2
        {
            font-size: var(--h2-font-size);

            margin: auto;

            padding: 1.5rem;
            max-width: 25ch;
        
            text-align: center;
        }

        p
        {
            font-size: var(--p-font-size);
            font-family: Montserrat-Medium;
            text-align: center;
            padding: 1.35rem;
        }

        img
        {
            display: flex;

            width: 100%;
            max-width: 600px;
            height: auto;

            margin: 0 auto;
        }
    }

    .aboutSectionRight
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;

        max-width: 700px;
        width: 100%;

        padding: 10px;
        overflow: clip;

        border-top: 1px solid rgba(0, 0, 0, 0.25);

        transition: max-width 1s ease;
            
        &:hover
        {
            max-width: 1200px;
        }

        div
        {
            max-width: fit-content;
            width: 100%;
            
            display: flex;
            flex-direction: row;
            
            filter: url(#round);
        
            img
            {
                max-width: 250px;
                height: auto;

                margin: 10px;                    
                border-radius: 5px;

                filter: grayscale(1);

                transform-style: preserve-3d;
                transform: 
                    perspective(1000px)
                    rotateX(var(--rotateAboutImageX))
                    rotateY(var(--rotateAboutImageY));
                
                clip-path: polygon(
                    5% 0, 100% 0, 100% 90%, 90% 100%, 
                    0 100%, 0 57%, 5% 44%);

                transition: 
                    scale .25s, 
                    filter .25s;
            
                &:hover
                {
                    scale: 110%;
                    filter: grayscale(0);
                }

                &:nth-child(n+2):nth-child(-n+4)
                {
                    filter: grayscale(1) blur(11px);
                }
            }

            &:nth-child(3)
            {
                margin-left: 75px;
            }
        }
    }
}

//MOBILE

@media 
(
    max-width: 1024px
) 
{
    .aboutPage
    {
        --h2-font-size: 3rem;
        --p-font-size: 1rem;

        flex-direction: column;
        align-items: center;

        margin-bottom: 50px;

        section
        {
            max-height: none;
            overflow-y: visible;
        }

        .aboutSectionLeft
        {
            border-right: 0;
        }

        .aboutSectionRight
        {
            max-width: 1100px;

            div
            {
                &:nth-child(3)
                {
                    margin-left: 50px;
                }
            }
        }
    }
}