@keyframes autoRun 
{
    from
    {
        left: 100%;
    }
    to
    {
        left: -60%; //CHANGE THIS TO CHANGE SPACING
    }
}

.carouselSegment
{
    --img-width: 256px; //CHANGE THIS TO CHANGE IMAGE SIZE

    height: var(--img-width);

    position: relative;
    overflow-x: clip;

    div
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        
        width: var(--img-width);
        height: auto;
        
        overflow: clip;
        border-radius: 5px;

        img 
        {
            max-width: 100%;
            height: auto;
        }

        @for $i from 1 through 8 
        {
            &:nth-child( #{ $i } ) 
            {
                left: calc( #{ $i } - 1 ) ;
                animation: autoRun 8s linear infinite;
                animation-delay: calc( ( (8s / 8) * #{ $i } ) - 8s);
                transition: filter .25s, box-shadow .25s, transform .25s;
            }
        }
    
        &:hover
        {
            filter: grayscale(0) !important;
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
        }
    }
    
    &:hover div
    {
        animation-play-state: paused;
        filter: grayscale(1);
    }
}
