@use '../styles/mixins';

.checkerContainer
{
    @include mixins.flex-center(column);
    margin-top: 4rem;

    section
    {
        @include mixins.flex-center(column);

        form
        {
            @include mixins.flex-center(column);
            gap: 1rem;

            p
            {
                max-width: 36ch;
                font-size: clamp(0.75rem, 1.8vw, 1rem);
                text-align: center;
            }

            label
            {
                font-size: clamp(1.2rem, 1.8vw, 2rem);
                line-height: 1;
            }

            input
            {
                width: 42ch;
                padding: .5rem;
                border: 2px solid black;
                border-radius: .25rem;
                font-size: clamp(0.65rem, 1.8vw, 1rem);
                text-align: center;
                background-color: #f5f0e4;
            }

            input:focus
            {
                outline: none;
            }

            button
            {
                font-size: clamp(0.85rem, 1.8vw, 1.2rem);
                padding: 0.5rem 1rem;
                background-color: #d1c298;
                border: 2px solid #a79975;
                cursor: pointer;
                user-select: none;
                border-radius: .25rem;
                transition: background-color .2s ease;

                &:hover
                {
                    background-color: #ac9f7d;
                }
            }
        }
    }
}