@use '../styles/mixins';

.homeContainer
{
    @include mixins.flex-center(column);
    
    .heroContainer
    {
        // border: 2px dashed blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 0;
        gap: 4rem;

        div
        {  
            // border: 2px dashed black;
            
            &:first-child
            {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 650px;

                h1
                {
                    // border: 2px dashed black;
                    font-size: clamp(6rem, 16vw, 12rem);
                    line-height: .85;
                }
    
                p
                {
                    // border: 2px dashed black;
                    font-size: clamp(0.75rem, 1.8vw, 1.25rem);
                }

                ul
                {
                    // border: 2px dashed black;
                    margin-top: 4rem;
                    display: flex;
                    gap: 1rem;
    
                    a
                    {
                        color: #d7d4cc;
                        font-size: clamp(0.9rem, 1.8vw, 1.25rem);
                        background-color: #1d1c1b;
                        padding: .625rem;
                        border-radius: .3125rem;
                        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
                        transition: background-color .1s linear;
                        
                        &:hover
                        {
                            background-color: rgb(78, 73, 73);
                        }
                    }
                }
            }

            &:last-child
            {
                flex: 1;
                max-width: 650px;
                min-width: 350px;
                overflow: clip;
                background-color: #1d1c1b;
                border-radius: 100%;
    
                img
                {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 768px)
{
    .homeContainer
    {
        
        .heroContainer
        {
            flex-direction: column;
            padding: 2rem 0;

            div
            {
                &:first-child
                {
                    ul
                    {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}