@use '../styles/mixins';

@font-face 
{
    font-family: Montserrat-Black;
    src: url(../public/fonts/Montserrat-Black.ttf);
}

@font-face 
{
    font-family: Montserrat-Medium;
    src: url(../public/fonts/Montserrat-Medium.ttf);
}

.homeContainer
{
    @include mixins.flex-center(column);
    margin: 0 auto;
    width: 100vw;

    section
    {
        width: 100vw;
    }

    .landingContainer
    {
        @include mixins.flex-center(column);
        height: 100svh;
        position: relative;
        overflow: hidden;

        video
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    .midContainer
    {
        @include mixins.flex-center(row);
        justify-content: space-evenly;
        background-image: url('../public/images/index/mid_container_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow-x: clip;
        padding: 4rem;
        gap: 4rem;

        div
        {
            @include mixins.flex-center(column);
            justify-content: flex-end;
            align-items: flex-start;
            flex-shrink: 0;
            background: 
                linear-gradient(
                    to bottom,
                    rgba(0,0,0,0) 0%, 
                    rgba(0,0,0,0) 65%, 
                    rgba(0,0,0,0.9) 100%
                ), url('../public/images/about/540.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: .6rem;
            padding: 1rem;
            width: 24rem;
            height: 32rem;
            cursor: pointer;
            transition: scale .2s ease, box-shadow .2s ease;

            &:hover
            {
                scale: 1.02;
                box-shadow: 0 0 16px rgba(255, 255, 255, 0.25);
            }

            h5
            {
                color: white;
                font-size: 1rem;
            }

            p
            {
                color: white;
                font-size: 1rem;
                opacity: .75;
            }
        }
    }

    .infoContainer
    {
        height: 100svh;
        background-image: 
            url('../public/images/index/background_3_desktop.png'),
            url('../public/images/index/background_2.png'),
            url('../public/images/index/background_1.png');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom left, bottom right, bottom right;
        background-size: contain, contain, contain;
        @include mixins.flex-center(row);
        justify-content: flex-end;

        div
        {
            @include mixins.flex-center(column);
            margin-right: 8vw;
            width: fit-content;
            align-items: flex-start;
            padding: 1rem;
                
            h1
            {
                font-family: Montserrat-Black;
                font-size: 2rem;
            }

            p
            {
                font-family: Montserrat-Medium;
                font-size: 1rem;
                max-width: 48ch;
            }

            span
            {
                margin-top: 1rem;
                display: flex;
                gap: 1rem;
                
                a
                {
                    font-family: Montserrat-Medium;
                    font-size: 1rem;
                    color: white;
                    padding: .6rem;
                    background-color: black;
                    border-radius: 0.4rem;
                    transition: color .2s ease, background-color .2s ease;
                
                    &:hover 
                    {
                        color: white;
                        background-color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px)
{
    .homeContainer
    {
        .landingContainer
        {
            background-image: url('../public/images/index/landingMobile.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .midContainer
        {
            overflow-x: scroll;
            justify-content: flex-start;
            padding: 2rem;
            gap: 2rem;

            div
            {
                width: 18rem;
                height: 24rem;
                flex-shrink: 0;

                p, a
                {
                    font-size: .8rem;
                }
            }
        }

        .infoContainer
        {
            margin-top: calc(100vh - 100svh);
            background-image: url('../public/images/index/background_3.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            @include mixins.flex-center(column);
            justify-content: flex-start;

            div
            {
                @include mixins.flex-center(column);
                margin: 0;

                h1
                {
                    text-align: center;
                    font-size: 2.5rem;
                }

                p
                {
                    text-align: center;
                    width: 32ch;
                }
            }
        }
    }
}