@use '../styles/mixins';

@font-face 
{
    font-family: Montserrat-Black;
    src: url(../public/fonts/Montserrat-Black.ttf);
}

@font-face 
{
    font-family: Montserrat-Medium;
    src: url(../public/fonts/Montserrat-Medium.ttf);
}

.homeContainer
{
    @include mixins.flex-center(column);
    margin: 0 auto;
    width: 100vw;

    section
    {
        width: 100vw;
    }

    .landingContainer
    {
        @include mixins.flex-center(column);
        height: 100svh;
        position: relative;
        overflow: hidden;
        background: 
            linear-gradient(
                to bottom,
                rgba(0,0,0,0) 0%, 
                rgba(0,0,0,0) 75%, 
                rgba(0,0,0,1) 100%
            );
        
        video
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        a
        {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 2rem;
            padding: 1rem;
            color: white;
            font-family: Montserrat-Medium;
            font-weight: 700;
            background-color: red;
            border-radius: .3rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 2;

            &:hover
            {
                background-color: red;
            }
        }
    }

    .midTitleContainer
    {
        @include mixins.flex-center(row);
        justify-content: flex-start;
        align-items: flex-end;
        background-color: black;
        padding-left: 8rem;
        padding-top: 2rem;
        gap: 1rem;
    
        h1
        {
            color: white;
            font-size: 4rem;
            line-height: 1;
        }

        p
        {
            color: white;
            font-size: 2rem;
        }
    }

    .midContainer
    {
        @include mixins.flex-center(row);
        justify-content: flex-start;
        background-color: black;
        overflow-x: scroll;
        padding: 2rem 0;
        scroll-behavior: smooth;
        
        span
        {
            @include mixins.flex-center(row);
            gap: 2rem;
            width: 100%;
            flex-shrink: 0;

            div
            {
                @include mixins.flex-center(column);
                justify-content: flex-end;
                align-items: flex-start;
                flex-shrink: 0;
                background: 
                    linear-gradient(
                        to bottom, 
                        rgba(0,0,0,0) 0%, 
                        rgba(0,0,0,0) 65%, 
                        rgba(0,0,0,1) 100%
                    ), 
                    url('../public/images/about/540.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: .6rem;
                padding: 1rem;
                width: 34rem;
                aspect-ratio: 16/10;
                cursor: pointer;
                transition: scale .2s ease;
    
                &:hover
                {
                    scale: 1.02;
                }
    
                h5
                {
                    color: white;
                    font-size: 1rem;
                }
    
                p
                {
                    color: white;
                    font-size: 1rem;
                    opacity: .75;
                }
            }
        }
    }

    .scrollContainer
    {
        @include mixins.flex-center(row);
        background-color: black;
        padding-bottom: 2rem;
        gap: 2rem;

        svg
        {
            font-size: 2rem;
        }
    }

    .infoContainer
    {
        height: 100svh;
        background-image: 
            url('../public/images/index/background_3_desktop.png');
            // url('../public/images/index/background_2.png'),
            // url('../public/images/index/background_1.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: contain;
        @include mixins.flex-center(row);
        justify-content: flex-end;

        div
        {
            @include mixins.flex-center(column);
            margin-right: 8vw;
            width: fit-content;
            align-items: flex-start;
            padding: 1rem;
                
            h1
            {
                font-family: Montserrat-Black;
                font-size: 2rem;
            }

            p
            {
                font-family: Montserrat-Medium;
                font-size: 1rem;
                max-width: 48ch;
            }

            span
            {
                margin-top: 1rem;
                display: flex;
                gap: 1rem;
                
                a
                {
                    font-family: Montserrat-Medium;
                    font-size: 1rem;
                    color: white;
                    padding: .4rem;
                    background-color: black;
                    border-radius: 0.4rem;
                    transition: color .2s ease, background-color .2s ease;
                
                    &:hover 
                    {
                        color: white;
                        background-color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }

    .footerContainer
    {
        @include mixins.flex-center(row);
        justify-content: flex-start;
        height: 5vh;
        background-color: black;
        padding: 0 1rem;

        a
        {
            max-height: 75%;
            aspect-ratio: 1.14/1;

            img
            {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 1024px)
{
    .homeContainer
    {
        .landingContainer
        {
            background-image: url('../public/images/index/landingMobile.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .midTitleContainer
        {
            @include mixins.flex-center(column);
            justify-content: flex-end;
            align-items: flex-start;
            background-color: black;
            padding: 2rem 1rem 1rem 1rem;
        
            h1
            {
                color: white;
                font-size: 1.8rem;
                line-height: 1;
            }

            p
            {
                color: white;
                font-size: 1rem;
            }
        }

        .midContainer
        {
            justify-content: flex-start;
            overflow-x: scroll;
            padding: 1rem;
            gap: 2rem;

            span
            {
                width: fit-content;

                div
                {
                    width: 90vw;
                    height: 14rem;
                    flex-shrink: 0;
                    background: 
                        linear-gradient(
                            to bottom,
                            rgba(0,0,0,0) 0%, 
                            rgba(0,0,0,0) 50%, 
                            rgba(0,0,0,0.9) 100%
                        ), url('../public/images/about/540.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
    
                    p, a
                    {
                        font-size: .8rem;
                    }
                }
            }
        }

        .scrollContainer
        {
            display: none;
        }

        .infoContainer
        {
            margin-top: calc(100vh - 100svh);
            background-image: url('../public/images/index/background_3.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            @include mixins.flex-center(column);
            justify-content: flex-start;

            div
            {
                @include mixins.flex-center(column);
                margin: 0;

                h1
                {
                    text-align: center;
                    font-size: 2.5rem;
                }

                p
                {
                    text-align: center;
                    width: 32ch;
                }
            }
        }
    }
}