@use '../styles/mixins';

@font-face 
{
    font-family: Montserrat-Medium;
    src: url(../public/fonts/Montserrat-Medium.ttf);
}

@font-face 
{
    font-family: Bungee-Regular;
    src: url(../public/fonts/Bungee-Regular.ttf);
}

@font-face 
{
    font-family: BebasNeue-Regular;
    src: url(../public/fonts/BebasNeue-Regular.ttf);
}

.homeContainer
{
    @include mixins.flex-center(column);
    margin: 0 auto;
    width: 100vw;

    section
    {
        width: 100vw;
        height: 100svh;
    }

    .landingContainer
    {
        border: 2px solid black;
        height: calc(100svh - 3.5rem);
    }

    .infoContainer
    {
        width: 100vw;
        background-image: 
            url('../public/images/index/background_3_desktop.png'),
            url('../public/images/index/background_2.png'),
            url('../public/images/index/background_1.png');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom left, bottom right, bottom right;
        background-size: contain, cover, cover;
        @include mixins.flex-center(row);
        justify-content: flex-end;

        div
        {
            @include mixins.flex-center(column);
            margin-right: 8vw;
            width: fit-content;
            align-items: flex-start;
            padding: 1rem;
                
            h1
            {
                font-family: BebasNeue-Regular;
                font-size: clamp(2.5rem, 4vw, 10rem);
            }

            p
            {
                width: 48ch;
                font-family: Montserrat-Medium;
                font-size: clamp(1rem, 1.2vw, 2rem);
            }

            span
            {
                margin-top: 1rem;
                display: flex;
                gap: 1rem;
                
                button
                {
                    font-size: clamp(0.75rem, 1.15vw, 2rem);
                    margin: 0 auto;
                    color: white;
                    display: inline-block;
                    padding: .6rem;
                    background-color: black;
                    border: 0;
                    border-radius: 0.4rem;
                    cursor: pointer;
                    user-select: none;
                    transition: color .2s ease, background-color .2s ease;
                
                    &:hover 
                    {
                        color: white;
                        background-color: rgb(122, 59, 59);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px)
{
    .homeContainer
    {
        section
        {
            width: 100vw;
            height: 100svh;
        }

        .landingContainer
        {
            height: calc(100svh - 3rem);
            margin-bottom: calc(100vh - 100svh);
        }

        .infoContainer
        {
            height: 100svh;
            background-image: url('../public/images/index/background_3.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            @include mixins.flex-center(column);
            justify-content: flex-start;

            div
            {
                @include mixins.flex-center(column);
                margin: 2vh 0;
    
                h1
                {
                    text-align: center;
                }

                p
                {
                    text-align: center;
                    width: 32ch;
                }
            }
        }
    }
}