@use '../styles/mixins';

.fadeIn {
    animation: fadeInAnim 1s forwards;
}

@keyframes fadeInAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOutAnim .5s forwards;
}

@keyframes fadeOutAnim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mintLoadContainer
{
    @include mixins.flex-center(column);
    width: 100vw;
    height: 65vh;

    .mintLoaderWrapper
    {
        width: 24rem;
        height: 2rem;
        border: 2px solid black;
        border-radius: 5px;
        overflow: hidden;

        .mintLoaderBar
        {
            height: 100%;
            width: 0;
            background-color: violet;
            animation-name: fillProgress;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-duration: var(--duration);
        }
    
        @keyframes fillProgress 
        {
            from {
                width: 0%;
            } to {
                width: 100%;
            }
        }
    }
}

.mintPageContainer
{
    @include mixins.flex-center(column);
    margin-top: 10rem;
    opacity: 0;

    section
    {
        @include mixins.flex-center(row);
    }

    p
    {
        overflow-x: auto;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: .25rem;
        color: #1d1c1b;
        background-color: #f5f0e4;
        border: 2px solid #b28cb0;
        border-radius: 0.375rem;
        text-align: center;
        font-size: clamp(0.75rem, 1.8vw, 1rem);
    }
    
    button 
    {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: .25rem;
        font-size: clamp(0.75rem, 1.8vw, 1rem);
        background-color: #f5f0e4;
        border: 2px solid #b28cb0;
        border-radius: 0.375rem;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s ease;
      
        &:hover 
        {
            background-color: #c59bbd;
            border-color: #9d779b;
        }
      
        &:disabled,
        &.disabled 
        {
            background-color: #f5f0e4;
            color: #888;
            border-color: #ccc;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

@media (max-width: 768px)
{
    .mintLoadContainer
    {
        .mintLoaderWrapper
        {
            width: 16rem;
        }
    }
}