@use '../styles/mixins';

.navbarContainer
{
    @include mixins.flex-center(row);
    justify-content: space-between;

    background-color: rgba(207, 190, 150, 0.75);
    height: 3.75rem;
    margin: 1rem auto;
    width: 50vw;
    min-width: fit-content;
    border-radius: .4rem;
    
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);

    ul
    {
        @include mixins.flex-center(row);
        overflow: clip;
        height: 100%;
        width: 100%;
        padding: 0.4rem;

        &:first-child
        {
            justify-content: flex-start;
            
            a
            {
                border-radius: .4rem;
                overflow: clip;

                height: 100%;
                aspect-ratio: 1/1;

                img
                {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:last-child,
        &:nth-child(2)
        {
            a
            {
                color: black;
                text-decoration: none;
                font-size: clamp(0.75rem, 2.5vw, 1.4rem);
                padding: 0.4rem;
                border-radius: .4rem;
                transition: 
                    color .2s ease, 
                    background-color .2s ease;
    
                &:hover
                {
                    color: white;
                    background-color: black;
                }
            }
        }

        &:last-child
        {
            justify-content: flex-end;
            
            a
            {
                svg
                {
                    display: flex;
                }
            }
        }

        button
        {
            display: inline-block;
            padding: 0.25rem .5rem;
            margin: .25rem;
            font-size: clamp(0.75rem, 1.8vw, 1rem);
            background-color: #f5f0e4;
            border: 2px solid #b28cb0;
            border-radius: 0.375rem;
            cursor: pointer;
            user-select: none;
            transition: background-color 0.2s ease;
        
            &:hover 
            {
                background-color: #c59bbd;
                border-color: #9d779b;
            }
        }
    }
}

@media (max-width: 768px)
{
    .navbarContainer
    {
        height: 3rem;
        margin: 1rem auto;
        min-width: fit-content;
        top: 1rem;

        ul
        {
            button
            {
                display: none;
            }
        }
    }
}