@use '../styles/mixins';

.navbarContainer
{
    @include mixins.flex-center(row);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 3.5rem;
    margin: 0 auto;
    width: 95vw;
    min-width: fit-content;
    border-radius: .4rem;

    ul
    {
        @include mixins.flex-center(row);
        overflow: clip;
        height: 100%;
        width: fit-content;
        padding: 0 3rem;
        background-color: black;

        &:first-child
        {
            justify-content: flex-start;

            a
            {
                @include mixins.flex-center(column);
                border-radius: .4rem;
                overflow: clip;
                height: 100%;
                aspect-ratio: 1/1;

                img
                {
                    width: 65%;
                    height: 65%;
                }
            }
        }

        &:nth-child(2)
        {
            a
            {
                &:nth-child(4),
                &:nth-child(5)
                {
                    pointer-events: none;
                    user-select: none;
                    cursor: default;
                    color: rgba(255,255,255,0.7);
                    transition: background-color .2s ease;

                    &:hover
                    {
                        color: rgba(255,255,255,0.7);
                        background-color: transparent;
                    }
                }
            }
        }

        &:last-child,
        &:nth-child(2)
        {
            a
            {
                color: white;
                text-decoration: none;
                font-size: clamp(0.75rem, 2.5vw, 1rem);
                padding: 0.4rem;
                margin: 0 .25rem;
                border-radius: .4rem;
                transition: color .2s ease, background-color .2s ease;
    
                &:hover
                {
                    color: black;
                    background-color: white;
                }

                svg
                {
                    display: flex;
                }
            }
        }

        &:last-child
        {
            justify-content: flex-end;
        }
        
        button
        {
            color: white;
            display: inline-block;
            padding: .4rem;
            margin: 0 .25rem;
            font-size: clamp(0.75rem, 2.5vw, 1.2rem);
            background-color: transparent;
            border: 0;
            border-radius: 0.4rem;
            cursor: pointer;
            user-select: none;
            transition: color .2s ease, background-color .2s ease;
            
            &:hover 
            {
                color: black;
                background-color: white;
            }
        }
    }
}

@media (max-width: 1024px)
{
    .navbarContainer
    {
        height: 3rem;
        width: 100%;
        margin: 0 auto;
        min-width: fit-content;
        background-color: black;
        border-radius: 0;

        ul
        {
            &:first-child
            {
                display: none;
            }

            &:nth-child(2)
            {
                padding: 0;
                clip-path: none;
                background-color: transparent;

                a
                {
                    color: white;

                    &:hover
                    {
                        color: black;
                        background-color: white;
                    }

                    &:nth-child(4)
                    {
                        pointer-events: none;
                        user-select: none;
                        cursor: default;
                        color: rgba(255,255,255,0.5);
                        transition: background-color .2s ease;

                        &:hover
                        {
                            color: rgba(255,255,255,0.5);
                            background-color: transparent;
                        }
                    }

                    &:nth-child(5)
                    {
                        display: none;
                    }
                }
            }

            &:last-child
            {
                display: none;
            }
        }
    }
}