@use '../styles/mixins';
@use "sass:color";

$bg-color: #000;

@function set-text-color($currentColor) 
{
    @if (color.channel($currentColor, "lightness", $space: hsl) > 50)
    {
        @return #000;
    } @else 
    {
        @return #fff;
    }
}

@function set-logo-color($currentColor) 
{
    @if (color.channel($currentColor, "lightness", $space: hsl) > 50)
    {
        @return '../public/images/navbar/logo_black.png';
    } @else 
    {
        @return '../public/images/navbar/logo_white.png';
    }
}

.navbarContainer
{
    @include mixins.flex-center(row);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3.5rem;
    z-index: 10;
    padding: 0 6rem;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, .35);

    ul
    {
        @include mixins.flex-center(row);
        height: 100%;
        gap: 1rem;

        a
        {
            color: set-text-color($bg-color);
            padding: .4rem;
            border-radius: .4rem;
            font-size: 1rem;
            text-decoration: none;
            transition: color .2s ease, background-color .2s ease;

            &:nth-child(4), 
            &:nth-child(5)
            {
                pointer-events: none;
                opacity: .5;
            }

            &:hover
            {
                color: black;
                background-color: white;
            }
        }

        button
        {
            color: set-text-color($bg-color);
            background-color: transparent;
            border: 0;
            padding: .4rem;
            font-size: 1rem;
            border-radius: .4rem;
            transition: color .2s ease, background-color .2s ease;

            &:hover
            {
                color: black;
                background-color: white;
            }
        }
        
        &:first-child a
        {
            height: 2rem;
            aspect-ratio: 1/1;
            background-image: url(set-logo-color($bg-color));
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &:hover
            {
                background-color: transparent;
            }
        }

        &:first-child,
        &:last-child
        {
            width: 192px;
        }
    }
}

@media (max-width: 1024px)
{
    .navbarContainer
    {
        height: 2rem;
        padding: 0;
        justify-content: space-evenly;

        ul
        {
            gap: 0;
            width: fit-content;

            a, button
            {
                font-size: .5rem;
            }
    
            &:first-child a
            {
                height: 1rem;
            }

            &:first-child,
            &:last-child
            {
                width: fit-content;
            }
        }
    }
}